@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: var(--gray-004);

    --primary: var(--green-002);
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --green-001: #abb389;
    --green-002: #748431;

    --gray-001: #ffffff;
    --gray-002: #f5f5f5;
    --gray-003: #e8e8e8;
    --gray-004: #cccccc;
    --gray-005: #c4c4c4;
    --gray-006: #b6b7b9;
    --gray-007: #888888;
    --gray-010: #000000;

    --red-001: #ff4d43;

    --yellow-001: #fdffe3;
    --yellow-002: #f4f8d4;
    --yellow-003: #fbefdb;

    --pink-001: #f8d3c6;
    --pink-002: #fadfdf;
    --pink-003: #ffcccc;

    --blue-001: #d7e2fd;

    /* custom size */
    --header-h: 50px;
    --page-padding-x: 23px;
    --footer-h: 164px;
    --footer-top-margin: 50px;
    /* --page-h: calc(100vh-var(--header-h)-var(--footer-top-margin)-var(--header-h)); */
    --page-h: calc(100vh - var(--header-h) - var(--footer-h));

    --app-max-width: 460px;
    --app-min-width: 320px;
  }

  [data-theme='dark'] {
    --background: 0 0% 10%;
    --foreground: 222.2 84% 96.1%;

    --muted: 210 40% 4.9%;
    --muted-foreground: 215.4 16.3% 86.9%;

    --popover: 0 0% 10%;
    --popover-foreground: 222.2 84% 96.1%;

    --card: 0 0% 10%;
    --card-foreground: 222.2 84% 96.1%;

    --border: 214.3 31.8% 8.6%;
    --input: var(--gray-006);

    --primary: var(--green-002);
    --primary-foreground: 210 40% 4.9%;

    --secondary: 210 40% 4.9%;
    --secondary-foreground: 222.2 47.4% 96.1%;

    --accent: 210 40% 4.9%;
    --accent-foreground: 222.2 47.4% 96.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 4.9%;

    --ring: 215 20.2% 34.9%;

    --gray-001: #000000;
    --gray-002: #0a0a0a;
    --gray-003: #141414;
    --gray-004: #1e1e1e;
    --gray-005: #282828;
    --gray-006: #333333;
    --gray-007: #4d4d4d;
    --gray-010: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  .header-h {
    @apply h-[var(--header-h)];
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
